
.user-card {
  position: relative;               
  width: 200px;
  height: 300px;
  font-family: 'Times New Roman', Times, serif;
  padding: 16px;
  border: 5px solid #0d94d3;
  background-color: #b4e0fa;
  border-radius: 12px;             
  text-align: center;
  margin: 40px auto;
}

.user-badge {
  position: absolute;               
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #12d643;
  border: 2px solid #09612be5;
  color: #ffffff;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 999px;            
  font-weight: bold;
}

.user-badge:hover{
    transform: scale(1.1);
}

.user-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;             
  object-fit: cover;
  border: 2px solid  #0d94d3;
  margin-top: 10px;
}

.user-name {
  font-size: 18px bold;
  margin: 12px 0 4px;
  color: #333;
}

.user-bio {
  font-size: 14px;
  color: #666;
  margin: 0;
}